* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #333533;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

h1 {
  color: #ffd100;
  font-size: 56px;
  line-height: 1;
}

h2 {
  color: #f5f5f5;
  margin: 26.56px 0;
  font-size: 32px;
}

i {
  margin-right: 5px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 376px;
  background-color: #333533;
  padding: 45px 0;
  box-sizing: content-box;
}

header img {
  border-radius: 50%;
}

header div {
  margin: 0 50px;
}

header div .btn {
  color: #ffd100;
  padding: 8px 24px;
  border: 1px solid #ffd100;
  border-radius: 3px;
}

header h2 i {
  color: #ffd100;
}

header .btn:hover {
  color: #333533;
  background-color: #ffd100;
}

header .lang {
  color: #f5f5f5;
  opacity: 0.7;
  border: 1px solid;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 4px;
  align-self: flex-start;
}

header .lang:hover {
  opacity: 1;
}

.lang i {
  margin-left: 3px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 45px 0;
}

.container nav ul {
  width: 250px;
}

li {
  list-style-type: none;
}

.container nav ul li {
  position: relative;
  display: flex;
  align-items: center;
}

.container nav li:not(:last-child) {
  margin-bottom: 80px;
}

.container nav ul li a {
  font-size: 22px;
  color: #333533;
  font-weight: 600;
}

.container nav ul span {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 12px;
}

.container nav ul span i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 22px;
}

.container nav ul li:hover span,
span.active {
  background-color: #333533;
  color: #ffd100;
  border: none;
}

.container nav ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 48px;
  border-left: 1px dashed;
  left: 21px;
  top: 58px;
}

.sections {
  width: 700px;
  padding: 0 50px;
  border-left: 1px solid #333533;
}

.sections .one h4,
.two h4 {
  margin: 21.28px 0;
}

.sections .one p {
  margin: 16px 0;
}

.sections .one div span {
  width: 50%;
}

.sections .e {
  display: flex;
}

.sections .one h5 {
  margin-top: 30.06px;
  margin-bottom: 10px;
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 500;
}

.sections .one div p {
  margin-top: 0;
}

.sections .one p i {
  margin-left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  cursor: pointer;
}

.sections .one p i:hover {
  color: #333533;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.social li a {
  display: inline-block;
  width: 56px;
  height: 56px;
  transition: 0.5s;
}

.social li .instagram {
  background-image: url("../icons/socials/instagram.png");
}

.social li .github {
  background-image: url("../icons/socials/github.png");
}

.social li .linkedin {
  background-image: url("../icons/socials/linkedin.png");
}

.social li .stackoverflow {
  background-image: url("../icons/socials/stackoverflow.png");
}

.social li .telegram {
  background-image: url("../icons/socials/telegram.png");
}

.social li .twitter {
  background-image: url("../icons/socials/twitter.png");
}

.social li .whatsapp {
  background-image: url("../icons/socials/whatsapp.png");
}

.social li .instagram:hover {
  background-image: url("../instagram-hover.png");
}

.social li .github:hover {
  background-image: url("../github-hover.png");
}

.social li .linkedin:hover {
  background-image: url("../linkedin-hover.png");
}

.social li .stackoverflow:hover {
  background-image: url("../stackoverflow-hover.png");
}

.social li .telegram:hover {
  background-image: url("../telegram-hover.png");
}

.social li .twitter:hover {
  background-image: url("../twitter-hover.png");
}

.social li .whatsapp:hover {
  background-image: url("../whatsapp-hover.png");
}

.two li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  border: 1px solid #a0a0a0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.two li img {
  margin-right: 5px;
}

.two li span {
  display: flex;
  align-items: center;
}

.two li span i {
  padding: 10px 12px;
  border-left: 1px solid #a0a0a0;
}

.skills li .tittle {
  font-weight: 400;
  font-size: larger;
}

.two li span:last-child {
  display: flex;
  align-items: center;
  width: 125.688px;
  height: 36.01px;
}

.two h5 {
  color: #a0a0a0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.two .qther {
  margin: 16px 0;
}

.sections .two .qther li {
  display: inline-block;
  padding: 4px 16px;
  margin: 0 16px 18px 0;
  border: 1px solid #333533;
  border-radius: 24px;
}

.sections .three .projects {
  display: flex;
  flex-wrap: wrap;
  width: 880px;
}

.sections .three h4 {
  margin: 21.28px 0;
}

.sections .three .project {
  display: flex;
  flex-direction: column;
  width: 27%;
  padding: 11px;
  margin: 0 20px 36px 0;
  border: 1px solid #a0a0a0;
  border-radius: 8px;
}

.sections .three h6 {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 400;
}
.sections .three p {
  font-size: 14px;
  font-weight: 400;
  margin: 14px 0;
}

.sections .three .tech img {
  width: 25px;
}

.sections .three ul {
  display: flex;
}

.sections .three .tech {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sections .three .btn2 {
  display: flex;
  justify-content: space-between;
}

.sections .three .btn2 button {
  width: 50%;
  cursor: pointer;
  background: none;
  padding: 4px 8px;
  border-radius: 3px;
}

.sections .three .btn2 .demo {
  border: 1px solid transparent;
}

.sections .three .btn2 .view {
  border: 1px solid #333533;
  margin-left: 4px;
}

.sections .three .btn2 .demo:hover {
  border-color: #333533;
}

.sections .three .btn2 .view:hover {
  color: #f5f5f5;
  background-color: #333533;
}

#mobile-nav {
  display: none;
}

@media only screen and (max-width: 992px) {
  body {
    background-color: #fafafa;
  }

  nav {
    display: none;
  }

  .sections,
  .sections section {
    width: auto;
    border: none;
  }

  header {
    height: auto;
    color: #333533;
    padding: 0;
  }

  header img {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0;
    right: 0;
    margin: auto;
    top: 75px;
  }

  header div h1,
  header div h2,
  header div h2 i,
  header div .btn {
    color: #333533;
  }

  .lang {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  header div h1 {
    font-size: 36px;
  }

  header div h2 {
    font-size: 24px;
    margin: 30px 0;
  }

  header div .btn {
    display: block;
    border-color: #333533;
    width: 100%;
    padding: 8px 0;
  }

  header div {
    background-color: #fafafa;
    padding: 100px 0px 60px;
    margin: 0;
    margin-top: 150px;
    text-align: center;
  }

  .sections {
    padding: 0 40px;
  }

  .sections section {
    border-top: 1px solid #d9d9d9;
    padding: 40px 0;
  }

  .e {
    flex-wrap: wrap;
  }

  .sections .one div span {
    width: 100%;
  }

  .sections .three .projects {
    width: 100%;
  }

  .social {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .social li {
    margin-right: 10px;
  }

  .projects {
    justify-content: center;
  }

  .sections .projects .project {
    width: 100%;
    max-width: 1980px;
    margin: 0 0 20px 0;
  }

  #mobile-nav {
    display: block;
    background-color: #333533;
    color: #fafafa;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #mobile-nav ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  #mobile-nav ul li {
    padding: 15px 0;
    text-align: center;
    flex: 1;
  }

  #mobile-nav ul li.active {
    color: #ffd100;
    border-bottom: 4px solid #ffd100;
  }
}
